<section>
    <nav id="about">
        <h3><i class="fa fa-globe" aria-hidden="true"></i> Contacts</h3>
        <address>
            <p><i class="fa fa-lg fa-map-marker" aria-hidden="true"></i><a target="_blank" href="http://maps.google.com/?q=111 Broadway, New York, NY USA">111 Broadway, New York, NY USA</a></p>
            <p><i class="fa fa-lg fa-phone" aria-hidden="true"></i><a href="tel:+13174562564">317-456-2564</a></p>
            <p><i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i><a href="mailto:webmaster@example.com">webmaster@example.com</a></p>
        </address>
        <img src="https://static1.squarespace.com/static/54ed409ae4b0c5c6b2abaff3/t/54f36065e4b01c0a84995de4/1425236164365/Credit-Cards.png" alt="credit cards">
    </nav>
    <nav id="account">
        <h3><i class="fa fa-user" aria-hidden="true"></i> Account</h3>
        <ul class="list-group">
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/cart">Wishlist</a></li>
            <li><a href="/user/profile/#orders">Orders</a></li>
        </ul>
    </nav>
    <nav id="information">
        <h3><i class="fa fa-info" aria-hidden="true"></i> Information</h3>
        <ul class="list-group">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Delivery</a></li>
        </ul>
        <div id="social">
            <a href="#"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-2x fa-vk" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
        </div>
    </nav>
</section>
<footer>
    <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017. All Right Reversed</p>
    <address>written by <a href="https://github.com/ismolin">ismolin</a></address>
</footer>