<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Games Shop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/shop/">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i> Products
          </a>
        </li>
        <li>
          <a href="/cart/">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shoppinglist
            <span class="badge">{{session.cart.totalQty}}</span>
          </a>
        </li>
      {{#if login}}
        <li>
          <a href="/user/profile/#wishlist">
            <i class="fa fa-heart" aria-hidden="true"></i> 
            {{#if user.wishlist}}
            <span class="badge">{{user.wishlist.length}}</span>
            {{/if}}
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> {{user.username}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              {{#if admin}}
                <li><a href="/dashboard">Dashboard</a></li>
              {{/if}}
              {{#if staff}}
                <li><a href="/dashboard">Dashboard</a></li>
              {{/if}}
              <li><a href="/user/profile">Account</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/user/logout">Logout</a></li>
          </ul>
        </li>
      {{else}}
        <li><a href="/user/signin">Sign In</a></li>
      {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>