body>footer {
  position: absolute;
  height: 300px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

footer>footer {
  display: flex;
  background: rgb(23, 23, 23);
  justify-content: space-around;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

footer footer p,
footer footer address {
  margin: 5px;
}

footer>section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  background: rgb(27, 27, 27);
}

footer nav {
  flex-basis: 300px;
}

footer #about address {
  background: transparent url(http://i916.photobucket.com/albums/ad1/vsotirovic/blank-world-map3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px 10px;
}

footer address i {
  width: 1em;
  font-weight: bold;
  margin-right: 5px;
}

footer #about img {
  width: 100%;
  margin-bottom: 30px;
}

footer .list-group li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

footer h3 {
  color: lightgrey;
}